.App {
  text-align: center;
}

html,
body,
#intro {
    height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  position: relative;
  padding: 1%;
  float: left;
  width: 100%;
  max-width:  400px;
  height: auto;
  max-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .about {
  padding-top: 1%;
} */

.panel-icon {
  padding-left: 3%; 
  margin-top: 2%;
  color: orangered;
  vertical-align: baseline !important;
  font-weight: 500;
  display: inline-block
}


.fa-shopping-basket {
  font-size: 2em;
}

.fa-shopping-basket:hover {
  cursor: pointer;
}

#panel-title {
  text-align: center;
  margin-top: 32px;
}

#delete-from-checkout:hover {
  cursor: pointer;
  color: orangered;
}

#summary-content {
  text-align: center;
}

#checkout-btn {
    text-align: center;
}

.right {
  position: absolute;
  right: 10px;
  width: 100px;
}

h2 {
  text-align: center;
}

#productCard {
  margin-top: 5%;
  width: auto;
  max-width:  400px;
  height: auto;
  max-height: 500px;

}

#customer-title {
  margin-top: 5%;
}

#product-category-navbar  {
  height: 40px !important; /*i assume your navbar size 100px*/
  padding: 0  !important;
  justify-content: center;
}


#product-category {
  float: left;
  display: block;
  color: white !important;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  /* width: 30%;  */
  text-align: center; /* If you want the text to be centered */
}

#product-category-navbar li a:hover {
  font-size: 20px;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  #product-category-navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}


#add-basket-btn {
  font-weight: bold;
  font-size: 15px;
}

.productCollection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-right: 4%;
  padding-left: 4%;
    
}

.navbar {
  min-height: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  font-size: 18px;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.navbar-brand {
  flex: 1 1 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

a {
  margin: 12px 0 0 0;
  color: #000 !important;
  text-decoration: none;
}

a:hover {
  color: #000;
  cursor: pointer;

  /* font-weight: bold; */

}

#intro {
  background: url("https://images.unsplash.com/photo-1498579397066-22750a3cb424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 8%;
  }

  /* The side navigation menu */
.sidebar {
  margin-left: 5%;
  margin-top: 2%;
  padding-left: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 28%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  font-weight: 400;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: orange;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:  rgb(252, 194, 87);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* coming soon page from w3school */
.bgimg {
  /* Background image */
  background-image: url('https://images.unsplash.com/photo-1498579397066-22750a3cb424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

#profile-components {
  padding-left: 10%;

}

#personal-info {
  padding-left: 5%;
}





  