.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  position: relative;
  padding: 1%;
  float: left;
  width: auto;
  max-width:  300px;
  height: auto;
  max-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.productList {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    
}

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    font-size: 20px;
    width: 100%;
    height: 90px;
    z-index: 1;
  }

  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
  }

  .logo {
    flex: 1 1 auto;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
  }

    a {
      margin: 10px;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      color: #000;
    }

  