.App {
  text-align: center;
}

html,
body,
#intro {
    height: 100%;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  position: relative;
  padding: 1%;
  float: left;
  width: 100%;
  max-width:  400px;
  height: auto;
  max-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}



.logout {
  padding-left: 5% !important;
}

.fa-shopping-basket {
  padding-top: 2%;
  font-size: 2em;
  color: orangered;

}

.fa-shopping-basket:hover {
  cursor: pointer;
}

.panel-icon {
  font-size:1.3em;
  font-weight: bold;
  margin-top: 0;
  padding-left: 2%;
}

#panel-title {
  text-align: center;
  margin-top: 32px;
}

#delete-from-checkout:hover {
  cursor: pointer;
  color: orangered;
}

#summary-content {
  text-align: center;
}

#checkout-btn {
    text-align: center;
}

.right {
  position: absolute;
  right: 10px;
  width: 100px;
}

#productCard {
  margin-top: 5%;
  width: auto;
  max-width:  500px;
  height: auto;
  max-height: 600px;

}

#customer-title {
  margin-top: 5%;
}

#product-category-navbar  {
  height: 40px !important; /*i assume your navbar size 100px*/
  padding: 0  !important;
  justify-content: center;
  font-family: "Lato", Courier, monospace;

}

.sale-content {
  margin-top: 0;
  padding-top: 20%;
  padding-left: 3%; 
  padding-bottom: 100%;
  text-align: center;
  color:white;
  font-weight: bold;
  background-image: url('https://images.unsplash.com/photo-1540736086231-18770daec04e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

a#product-category {
  float: left;
  display: block !important;
  color: white !important;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  width: 8%; 
  margin-top: 0%;
  text-align: center;
  font-family: "Lato", Courier, monospace !important;
  /* If you want the text to be centered */
}

.card-body {
  color: grey !important;
}

#register-login-link {
  margin-bottom: 1%;
  right: 0 !important;
}

a#register, a#login, a#shop, a#about, a#profile {
  /* width: 100%; */
  padding-right: 3%;
  padding-bottom: 1% !important;
  font-family: "Lato", Courier, monospace;

}

a#farmer-profile {
  padding-left: 5%;
}

#shop2 {
  padding-right: 5%;
}

a#logout {
  padding-left:3%;
  color: orangered !important;
  font-weight: bold;
}

a#profile {
  padding-left: 3%;
}

#sale-container {
  text-align: center;
  padding-top: 10%;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  #product-category-navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}


#add-basket-btn {
  font-weight: bold;
  font-size: 15px;
}

.productCollection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 5%;
    
}

.navbar {
  min-height: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  font-size: 18px;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.navbar-brand {
  flex: 1 1 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

p.navbar-brand {
  margin-left: 15%;
  font-size: 1.5em;
  font-family: "Lato", Courier, monospace;

}

#welcome-user{
  font-family: "Lato", Courier, monospace;
  font-size: 25px;
  padding-left: 20%;
}

#signin-form-container {
  background: url('https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signup-form-container {
  background: url('https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signin-form {
  width: 80%;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  margin: 0 auto;
  color:white;
}

#signup-form {
  width: 80%;
  padding-top: 10%;
  padding-left: 30%;
  padding-right: 10%;
  padding-bottom: 20%;
  margin-left: 25% !important;
}

#product-form-container {
  background: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1231&q=80')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5%;
  padding-left: 5%;
}

#product-form {
  width: 40%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  margin: 0 auto;
  color:white;
}

#select-user-type {
  height: 55px;
  width: 40%;
  margin: 0 auto;
  text-align-last:center;
}

a {
  margin: 13px 0 0 0;
  color: #000 !important;
  text-decoration: none;
  font-family: "Lato", Courier, monospace;

}

a:hover {
  color: #000;
  cursor: pointer;
}

#LoginFormEmail{
  border-radius: 50px;
  margin-bottom: 2%;

}

#LoginFormPassword{
  border-radius: 50px;
  margin-bottom: 2%;

}

.product-form-panel {
  background-color: #61dafb;

}

#intro {
  background: url("https://images.unsplash.com/photo-1498579397066-22750a3cb424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 8%;
  }

#no-product-onsale {
  padding-top: 20%;
  padding-bottom: 100%;
  text-align: center;
  color: white;
  font-weight: bold !important;
  background-image: url('https://images.unsplash.com/photo-1540736086231-18770daec04e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  /* The side navigation menu */
.sidebar {
  margin-left: 5%;
  margin-top: 2%;
  padding-left: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 28%;
  overflow: auto;
}

/* Sidebar links */
.sidebar p {
  display: block;
  color: orangered;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
  font-family: "Lato", Courier, monospace;

}

#profile-container {
  background: url('https://images.unsplash.com/photo-1498579809087-ef1e558fd1da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100 !important;
  margin-top:0 !important;
  font-weight: bold;
}

.account-details {
  padding-bottom: 5%;
}

#personal-info {
  padding-top: 5%;

}


/* Links on mouse-over */
.sidebar p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar p {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar p {
    text-align: center;
    float: none;
  }
}

/* coming soon page from w3school */
.bgimg {
  /* Background image */
  background-image: url('https://images.unsplash.com/photo-1498579397066-22750a3cb424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}





  